<a href="https://colab.research.google.com/github/karthikeyanthanigai/Computer-hardware-regression-problem-/blob/master/computer_hardware.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

![alt text](https://cdn.vox-cdn.com/thumbor/sp1WLmczQRPmkWK6mMlxu753cmI=/0x0:1246x838/1200x800/filters:focal(524x320:722x518)/cdn.vox-cdn.com/uploads/chorus_image/image/56839271/8th_Gen_Intel_Core_S_series_Chip.0.jpg)

In [2]:
# Importing the dataset
dataset = pd.read_csv('computer_hardware_dataset.csv')
#this function will provide the descriptive statistics of the dataset.(only int value)
dataset.describe()

              MYCT          MMIN  ...          PRP          ERP
count   209.000000    209.000000  ...   209.000000   209.000000
mean    203.822967   2867.980861  ...   105.622010    99.330144
std     260.262926   3878.742758  ...   160.830733   154.757102
min      17.000000     64.000000  ...     6.000000    15.000000
25%      50.000000    768.000000  ...    27.000000    28.000000
50%     110.000000   2000.000000  ...    50.000000    45.000000
75%     225.000000   4000.000000  ...   113.000000   101.000000
max    1500.000000  32000.000000  ...  1150.000000  1238.000000

[8 rows x 8 columns]

In [0]:
#determine X and y variables(this values are taken as independent variables)
X = dataset.iloc[:,[2,3,4,5,6,7,8]].values
y = dataset.iloc[:, [-1]].values

In [0]:
#split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X, y , test_size=0.2, random_state = 0, shuffle = True )

In [9]:
#Random forset regression
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=300)
regressor.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [0]:
#predict the test data
y_pred = regressor.predict(X_test)

In [11]:
#r2score
from sklearn.metrics import r2_score
r_squared = r2_score(y_test, y_pred)
print(r_squared)

0.9080122342355706